# Brave Search API
Brave_API_KEY=

# Nvidia API
Nvidia_API_KEY=

# Firebase Configuration
firebase_API_KEY=
firebase_AuthDomain=
firebase_ProjectID=
firebase_StorageBucket=
firebase_messagingSenderId=
firebase_AppID=
firebase_measurementId=
firebase_databaseURL=
